@font-face {
    font-family: a;
    src: url(font/Unconfirmed\ 406252.crdownload);
}

@font-face {
    font-family: b;
    src: url(font/Unconfirmed\ 630524.crdownload);
}

@font-face {
    font-family: c;
    src: url(font/Unconfirmed\ 802598.crdownload);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
.main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.card{
    width: 50vw;
    height: 100vh;
    /* background-color: blue; */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

}
.card img{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.left{
    min-height: 100vh;
    background-color: red;
    width: 50vw;
    position: relative;

}
.left h1{
    font-size: 5rem;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-140%,-40%);
    z-index: 1;
    font-weight: 700;
}